## String Practice

In [1]:
str1="HELLO WELOCME TO MY PRACTICE"              #define a string using double quotes
print(str1)

HELLO WELOCME TO MY PRACTICE

In [2]:
str2='HELLO PEOPLE'             #define a string using single quotes
print(str2)

HELLO PEOPLE

In [3]:
str3='''HELLO 
          GUYS
        WELCOME'''                  #deine a string using triple single quotes
print(str3)

HELLO
          GUYS
        WELCOME

In [4]:
str4="""HI 
GUYS 
           WHAT'S UP"""        #define a string using triple double quotes
print(str4)

HI
GUYS
           WHAT'S UP

In [5]:
str5=('firoz',
    'ajas',
    'yaseen')
print(str5)

('firoz', 'ajas', 'yaseen')

In [6]:
str6='wah '
print(str6*5)

wah wah wah wah wah

In [7]:
len(str3)

37

In [8]:
str1

'HELLO WELOCME TO MY PRACTICE'

In [9]:
str1[0]

'H'

In [10]:
len(str1)

28

In [11]:
str1[len(str1)-1]

'E'

In [12]:
str1[-1]

'E'

In [13]:
str1[8]

'L'

In [14]:
str1[0:5]

'HELLO'

In [15]:
str1[6:12]

'WELOCM'

In [16]:
str1[-12:]

' MY PRACTICE'

In [17]:
str1[-7:]

'RACTICE'

In [18]:
str1[:5]

'HELLO'

In [19]:
str1[:12]

'HELLO WELOCM'

In [20]:
str1

'HELLO WELOCME TO MY PRACTICE'

In [21]:
#str1[0]='f'

In [22]:
#str1[0:5]='firoz'

In [23]:
del str1
#print(str1)

In [24]:
str7='shaik'
str8='firoz'
str9=str7+' '+str8
print(str9)

shaik firoz

In [25]:
str1="HELLO PYTHON"
str1

'HELLO PYTHON'

In [26]:
# iteration
#for loop
for i in str1:
    print(i)

H
E
L
L
O

P
Y
T
H
O
N

In [27]:
for i in enumerate(str1):
    print(i)

(0, 'H')
(1, 'E')
(2, 'L')
(3, 'L')
(4, 'O')
(5, ' ')
(6, 'P')
(7, 'Y')
(8, 'T')
(9, 'H')
(10, 'O')
(11, 'N')

In [28]:
list(enumerate(str1))

[(0, 'H'),
 (1, 'E'),
 (2, 'L'),
 (3, 'L'),
 (4, 'O'),
 (5, ' '),
 (6, 'P'),
 (7, 'Y'),
 (8, 'T'),
 (9, 'H'),
 (10, 'O'),
 (11, 'N')]

In [29]:
#string membership 
print(str1)
print('HELLO' in str1)
print("WELCOME" in str1)
print('PYTHON' in str1)

HELLO PYTHON
True
False
True

In [30]:
"""The partition() method searches for a specified string and splits the string into
     - the first element contains the part before the argument string.
     - the second element contain the argument string.
     - the third element contain the part after the argument string.
"""
str10='Python is a high level general purpose programming language.'
print(str10)
a=str10.partition('level')
print(a)
print('\n')
print(type(a))

Python is a high level general purpose programming language.
('Python is a high ', 'level', ' general purpose programming language.')


<class 'tuple'>

In [31]:
str11="    shaik firoz         "
str11

'    shaik firoz         '

In [32]:
str11.rstrip()

'    shaik firoz'

In [33]:
str11.lstrip()

'shaik firoz         '

In [34]:
str11.strip()

'shaik firoz'

In [35]:
str12='###########HELLO EVERYONE########ALL THE BESt#######################'
str12

'###########HELLO EVERYONE########ALL THE BESt#######################'

In [36]:
str12.rstrip('#')

'###########HELLO EVERYONE########ALL THE BESt'

In [37]:
str12.lstrip('#')

'HELLO EVERYONE########ALL THE BESt#######################'

In [38]:
str12.strip('#')

'HELLO EVERYONE########ALL THE BESt'

In [39]:
str13='HEllo fRienDs HoW ArE YoU'
str13

'HEllo fRienDs HoW ArE YoU'

In [40]:
str13.lower()

'hello friends how are you'

In [41]:
str13.upper()

'HELLO FRIENDS HOW ARE YOU'

In [42]:
str13.replace('H','@')

'@Ello fRienDs @oW ArE YoU'

In [43]:
str13.replace(' ','')

'HEllofRienDsHoWArEYoU'

In [44]:
str14='ONE TWO THREE FOUR ONE TWO TWO THREE THREE FOUR'
print(str14.count('ONE'))
print(str14.count('TWO'))
print(str14.count('THREE'))

2
3
3

In [45]:
str14.startswith('ONE')

True

In [46]:
str14.endswith('ONE')

False

In [47]:
str15='one two three four five six one three         firoz seven eight'
str15

'one two three four five six one three         firoz seven eight'

In [48]:
list1=str15.split()

In [49]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'one',
 'three',
 'firoz',
 'seven',
 'eight']

In [50]:
item1=55
item2=52
item3=50
ite="cost of items {} {} {}"

print(ite.format(item1,item2,item3))

cost of items 55 52 50

In [51]:
item1=55
item2=52
item3=50
ite="cost of items {2} {1} {0}"

print(ite.format(item1,item2,item3))

cost of items 50 52 55

In [52]:
item1=55
item2=52
item3=50
ite="cost of items {1} {0} {2}"

print(ite.format(item2,item1,item3))

cost of items 55 52 50

In [53]:
str16='WELCOME TO EXAMPLE'
str16

'WELCOME TO EXAMPLE'

In [54]:
str17=str16.center(40)
str17

'           WELCOME TO EXAMPLE           '

In [55]:
str17=str16.center(66,'*')
str17

'************************WELCOME TO EXAMPLE************************'

In [56]:
str18='HELLO EVEREYONE WASSUP'
str18

'HELLO EVEREYONE WASSUP'

In [57]:
str18.ljust(50)

'HELLO EVEREYONE WASSUP                            '

In [58]:
str18.rjust(50)

'                            HELLO EVEREYONE WASSUP'

In [59]:
str18.ljust(50,'*')

'HELLO EVEREYONE WASSUP****************************'

In [60]:
str18.rjust(50,'*')

'****************************HELLO EVEREYONE WASSUP'

In [61]:
str18.center(50,'*')

'**************HELLO EVEREYONE WASSUP**************'

In [62]:
str19='one two three four five six seven eight nine ten'
loc=str19.find('seven')
loc

28

In [63]:
str20='one two three four five six seven eight nine ten'
inde=str19.index('seven')
inde

28

In [64]:
str21='123348275'
print(str21.isalpha())
print(str21.isnumeric())
print(str21.isdecimal())

False
True
True

In [65]:
str22='abcdefghi'
print(str22.isalpha())
print(str22.isalnum())
print(str22.isnumeric())
print(str22.isdecimal())

True
True
False
False

In [66]:
str23='abcdefgh123i'
print(str23.isalpha())
print(str23.isalnum())
print(str23.isnumeric())
print(str23.isdecimal())

False
True
False
False

In [67]:
str24='SHAIK FIROZ'
print(str24.isupper())
print(str24.islower())

True
False

In [68]:
str24='shaik firoz'
print(str24.isupper())
print(str24.islower())

False
True

In [69]:
str25='one two three four five six seven eight nine ten one'
str25.rfind("one")

49

In [70]:
str26='one two three four five six seven eight nine ten one'
str26.rindex("one")

49

In [71]:
str27='           sfji fjif    fifl                   '
str27.rstrip()

'           sfji fjif    fifl'

In [72]:
str27='           sfji fjif    fifl                   '
str27.lstrip()

'sfji fjif    fifl                   '

In [73]:
str27='           sfji fjif    fifl                   '
str27.strip()

'sfji fjif    fifl'

In [74]:
#using a double quotes in side a string is not possible 
str28="hii welcome the new programming language 'firoz'"
str29='hii welcome the new programming language "firoz"'
#or
str30="hii welcome the new programming language \"firoz\""
str31='hii welcome the new programming language \'firoz\''
print(str28)
print(str29)
print(str30)
print(str31)

hii welcome the new programming language 'firoz'
hii welcome the new programming language "firoz"
hii welcome the new programming language "firoz"
hii welcome the new programming language 'firoz'

In [75]:
list1=[]
print(type(list1))

<class 'list'>

In [76]:
list2=[1,2,4,3]
list3=[3.2,2.3,3.4,5.34,6.423]
list4=['one','two','three','four']
list5=['one',1,2.34,'two','three',5,34.4]
list6=['one',2,3,['two','three'],[3,2,4.5]]
list7=[1,2,'one',(1,2,4,5),{14,23,233},['two','three']]
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)
print(list7)

[1, 2, 4, 3]
[3.2, 2.3, 3.4, 5.34, 6.423]
['one', 'two', 'three', 'four']
['one', 1, 2.34, 'two', 'three', 5, 34.4]
['one', 2, 3, ['two', 'three'], [3, 2, 4.5]]
[1, 2, 'one', (1, 2, 4, 5), {233, 14, 23}, ['two', 'three']]

In [77]:
len(list7)

6

In [78]:
print(list2[0])
print(list3[3])
print(list4[3])
print(list5[2])
print(list6[3][0])
print(list7[3])

1
5.34
four
2.34
two
(1, 2, 4, 5)

In [79]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

print(mylist[0:3])             # Return all items from 0th to 3rd index location excluding the 3rd index item 
print(mylist[2:5])             # List all items from 2nd to 5th index location excluding the item at 5th index
print(mylist[:3])                   # Return first three items
print(mylist[:2])                          # Return first two items
print(mylist[-3:])                         # Return last three items
print(mylist[-2:])                          # Return last two items
print(mylist[-1])                         # Return last item of the list
print(mylist[:])                          # Return whole list
print(mylist[:-2])                          # Return whole list excluding the last two items

['one', 'two', 'three']
['three', 'four', 'five']
['one', 'two', 'three']
['one', 'two']
['six', 'seven', 'eight']
['seven', 'eight']
eight
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
['one', 'two', 'three', 'four', 'five', 'six']

In [80]:
mylist.append('ten')                # Add an item to the end of the list

In [81]:
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [82]:
print(mylist.insert(1,"one"))

None

In [83]:
print(mylist)

['one', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [84]:
print(mylist.remove('one'))

None

In [85]:
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [86]:
mylist.pop()

'ten'

In [87]:
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [88]:
mylist.pop()

'eight'

In [89]:
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [90]:
mylist.pop(4)

'five'

In [91]:
print(mylist)

['one', 'two', 'three', 'four', 'six', 'seven']

In [92]:
# changing the values of string
mylist[0]=1
mylist[2]=3
mylist[4]=5
print(mylist)

[1, 'two', 3, 'four', 5, 'seven']

In [93]:
mylist.clear()
print(mylist)

[]

In [94]:
del mylist

In [95]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist1 = mylist                               # Create a new reference "mylist1" 
id(mylist) , id(mylist1)                       # The address of both mylist & mylist1 will be the same

(2303078562560, 2303078562560)

In [96]:
mylist1[3]=4
print(mylist1)
print(mylist)

['one', 'two', 'three', 4, 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 4, 'five', 'six', 'seven', 'eight', 'nine']

In [97]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist2=mylist.copy()
print(mylist2)
id(mylist),id(mylist2)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

(2303078809088, 2303077819264)

In [98]:
mylist[0]=1
print(mylist)
print(mylist2)

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [99]:
list1=['one','two','three','four']
list2=['five','six','seven','eight']
print(list1+list2)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [100]:
list1=['one','two','three','four']
list2=['five','six','seven','eight']
list1.extend(list2)
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### list membership (in, not in)

In [101]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [102]:
'one' in list1

True

In [103]:
'five' not in list1

False

In [104]:
if 'three' in list1:
    print('yes three is in list1')
else:
    print('no there is no three in list')

yes three is in list1

In [105]:
if 'eleven' not in list1:
    print('eleven is not in list1')
else:
    print('eleven is in list1')

eleven is not in list1

### reverse and sort list

In [106]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [107]:
print(list1.reverse())

None

In [108]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [109]:
list1[::-1]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [110]:
mylist=[1,22,4,32,24,55,56,8,3,35,7,78,43,55,5,72,12,45,64,2,33]
mylist.sort()
mylist

[1, 2, 3, 4, 5, 7, 8, 12, 22, 24, 32, 33, 35, 43, 45, 55, 55, 56, 64, 72, 78]

In [111]:
mylist.sort(reverse=True)
mylist

[78, 72, 64, 56, 55, 55, 45, 43, 35, 33, 32, 24, 22, 12, 8, 7, 5, 4, 3, 2, 1]

In [112]:
list3=[34,32,33,26,5,43,52,676,76]
print(list3)
sorted(list3,reverse=False)

[34, 32, 33, 26, 5, 43, 52, 676, 76]

[5, 26, 32, 33, 34, 43, 52, 76, 676]

### loop through a list

In [113]:
list1=['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [114]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [115]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [116]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## count

In [117]:
lst1=['one', 'two', 'three', 'one','three','four', 'five', 'six','six', 'seven', 'eight']

In [118]:
print(lst1.count('one'))
print(lst1.count('three'))
print(lst1.count('six'))
print(lst1.count('seven'))

2
2
2
1

In [119]:
l1=[1,2,3,5,0]

In [120]:
all(l1)

False

In [121]:
any(l1)

True

In [122]:
l2=[1,2,3,5,True,False]

In [123]:
print(all(l2))
print(any(l2))

False
True

In [124]:
l3=[1,2,3,5,True]

In [125]:
print(all(l3))
print(any(l3))

True
True

## List comprehension

In [126]:
str1='FIROZ'
print(str1)

FIROZ

In [127]:
lst2=[ i for i in str1 ]
str2

'HELLO PEOPLE'

In [128]:
lst3=[ i for i in range(50) if i%2==0 ]
print(lst3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [129]:
lst4=[ i for i in range(50) if i%2==1]
print(lst4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [130]:
lst5=[1,2,3,4,5,6,7]
lst6=[i*10 for i in lst5]
print(lst6)

[10, 20, 30, 40, 50, 60, 70]

In [131]:
lst7=[i for i in range(300) if i%2==0 if i%3==0 if i%4==0]
print(lst7)

[0, 12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240, 252, 264, 276, 288]

In [132]:
for i in range(10):
    if i%2==0:
        print('{} is even number'.format(i))
    else:
        print('{} is odd number'.format(i))

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [133]:
lst8='one 1 two 2 three 3 four 4 five 5 six 6 seven 7 eight 8 nine 9'
lst9=[i for i in lst8 if i.isdigit()]
lst9

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [134]:
lst10='one 1 two 2 three 3 four'
lst11=[i for i in lst10 if i.isalpha()]
print(lst11)

['o', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e', 'f', 'o', 'u', 'r']

## tuples

In [135]:
tup=()
type(tup)

tuple

In [136]:
tup1 = (10,30,60)                                        # tuple of integers numbers
tup2 = (10.77,30.66,60.89)                               # tuple of float numbers
tup3 = ('one','two' , "three")                           # tuple of strings
tup4 = ('firoz', 25 ,(50, 100),(150, 90))                 # Nested tuples
tup5 = (100, 'firoz', 17.765)                             # Tuple of mixed data types
tup6 = ('firoz', 25 ,[50, 100],[150, 90] , {'shaik' , 'firoz'} , (99,22,33))

In [137]:
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)
print(tup6)

(10, 30, 60)
(10.77, 30.66, 60.89)
('one', 'two', 'three')
('firoz', 25, (50, 100), (150, 90))
(100, 'firoz', 17.765)
('firoz', 25, [50, 100], [150, 90], {'firoz', 'shaik'}, (99, 22, 33))

In [138]:
print(len(tup6))

6

In [139]:
print(tup4[2])
print(tup4[2][0])
print(tup4[-1][-2])
print(tup2[0])
print(tup2[-1])

(50, 100)
50
150
10.77
60.89

In [140]:
mytuple=('one','two','three','four','five','six','seven','eight','nine')

In [141]:
print(mytuple[0])
print(mytuple[0:5])
print(mytuple[1:])
print(mytuple[:5])
print(mytuple[:])
print(mytuple[:-1])
print(mytuple[-2:])
print(mytuple[1:-3])

one
('one', 'two', 'three', 'four', 'five')
('two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')
('one', 'two', 'three', 'four', 'five')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
('eight', 'nine')
('two', 'three', 'four', 'five', 'six')

In [142]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [143]:
#del mytuple[0] #can't delte item of tuple.it is a immutable

In [144]:
#mytuple[1]=2 #tuple is a immutable we can't can the value in tuple

In [145]:
#del mytuple  #delete entire tuple is possible

In [146]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [147]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight
nine

In [148]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')

In [149]:
mytuple1=('one', 'one','two','three', 'three', 'four', 'five','six', 'six', 'seven', 'eight', 'nine')

In [150]:
print(mytuple1.count('one'))
print(mytuple1.count('two'))
print(mytuple1.count('three'))

2
1
2

In [151]:
print('one' in mytuple1)
print('ten' in mytuple1)

True
False

In [152]:
if 'one' in mytuple:
    print('one is in mytuple')
else:
    print('one is not in mytuple')

one is in mytuple

In [153]:
if 'ten' in mytuple:
    print('ten is in mytuple')
else:
    print('ten is not in mytuple')

ten is not in mytuple

In [154]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [155]:
print(mytuple.index('five'))
print(mytuple.index('nine'))

4
8

In [156]:
mytup=(1,2,34,63,76,54,45,33,74,84,20,34,66,78,24,67)

In [157]:
print(sorted(mytup))

[1, 2, 20, 24, 33, 34, 34, 45, 54, 63, 66, 67, 74, 76, 78, 84]

In [158]:
print(sorted(mytup,reverse=True))

[84, 78, 76, 74, 67, 66, 63, 54, 45, 34, 34, 33, 24, 20, 2, 1]

## Sets

In [159]:
myset={1,2,4,3,5}

In [160]:
myset

{1, 2, 3, 4, 5}

In [161]:
len(myset)

5

In [162]:
myset1={1,1,1,2,1,2,2,2,3,4,5,6,7,8,9,2,3,2,2,3,5,4,6,7,8}
myset1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [163]:
myset1={1,1,2,3,4,5,6}
myset2={1.2,2.34,3.12,4.22}
myset3={'firoz','yaseen','ajas'}
myset4={1,2,3,"firoz",(4,5,6),1,2,3}

In [164]:
#set doesnot take list and set in set 
print(myset1)
print(myset2)
print(myset3)
print(myset4)

{1, 2, 3, 4, 5, 6}
{1.2, 2.34, 3.12, 4.22}
{'yaseen', 'ajas', 'firoz'}
{1, 2, 3, (4, 5, 6), 'firoz'}

In [165]:
type(myset1)

set

In [166]:
my_set= set(('one' , 'two' , 'three' , 'four'))
my_set

{'four', 'one', 'three', 'two'}

In [167]:
myset = set()                     # Create an empty set
print(myset)
print(type(myset))

set()
<class 'set'>

In [168]:
myset={'one','two','three','four','five','six','seven','eight','nine','ten'}
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [169]:
for i in myset:
    print(i)

two
three
eight
four
five
six
nine
ten
one
seven

In [170]:
for i in enumerate(myset):
    print(i)

(0, 'two')
(1, 'three')
(2, 'eight')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'nine')
(7, 'ten')
(8, 'one')
(9, 'seven')

In [171]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [172]:
print('four' in myset)
print('eleven' in myset)

True
False

In [173]:
if "three" in myset:
    print('yes three is present in myset')
else:
    print('no, three is not present in myset')

yes three is present in myset

In [174]:
if 'eleven' in myset:
    print('yes eleven is present in myset')
else:
    print('no, eleven is not present in myset')

no, eleven is not present in myset

In [175]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [176]:
myset.add('eleven')

In [177]:
print(myset)

{'eleven', 'two', 'three', 'eight', 'four', 'five', 'six', 'nine', 'ten', 'one', 'seven'}

In [178]:
myset.update(['Twelve','Thirteen','Fourteen'])

In [179]:
print(myset)

{'eleven', 'Thirteen', 'two', 'three', 'eight', 'four', 'five', 'Fourteen', 'six', 'nine', 'ten', 'one', 'Twelve', 'seven'}

In [180]:
myset.remove("Fourteen")

In [181]:
myset.discard('Thirteen')

In [182]:
print(myset)

{'eleven', 'two', 'three', 'eight', 'four', 'five', 'six', 'nine', 'ten', 'one', 'Twelve', 'seven'}

In [183]:
myset.clear()

In [184]:
myset

set()

In [185]:
del myset

In [186]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [187]:
myst=myset
print(myst)
id(myst),id(myset)

{'two', 'three', 'eight', 'four', 'five', 'six', 'one', 'seven'}

(2303077051840, 2303077051840)

In [188]:
myset1={1,2,3,4,5,6}
myset2=myset1.copy()
print(myset2)
id(myset1),id(myset2)

{1, 2, 3, 4, 5, 6}

(2303077049376, 2303077053184)

In [189]:
myset.add('nine')
print(myset)
print(myst)

{'two', 'three', 'eight', 'four', 'five', 'six', 'nine', 'one', 'seven'}
{'two', 'three', 'eight', 'four', 'five', 'six', 'nine', 'one', 'seven'}

In [190]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10,11}

In [191]:
a|b|c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [192]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [193]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [194]:
a.update(b,c)

In [195]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [196]:
a= {1,2,3,4,5}
b= {4,5,6,7,8}

In [197]:
a&b

{4, 5}

In [198]:
a.intersection(b)

{4, 5}

In [199]:
a.intersection_update(b)

In [200]:
a

{4, 5}

In [201]:
a= {1,2,3,4,5}
b= {4,5,6,7,8}
print(a-b)               
print(a.difference(b))

{1, 2, 3}
{1, 2, 3}

In [202]:
print(b-a)               
print(b.difference(c))

{8, 6, 7}
{4, 5, 6, 7}

In [203]:
b.difference_update(a)
print(b)

{6, 7, 8}

In [204]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A ^ B)                            
print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [205]:
A.symmetric_difference_update(B)
print(A)

{1, 2, 3, 6, 7, 8}

In [206]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}
print(B.issubset(A))
print(A.issuperset(B))
print(C.isdisjoint(A))
print(B.isdisjoint(A))

True
True
True
False

In [207]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [208]:
print(sum(A))

45

In [209]:
max(A)

9

In [210]:
min(A)

1

In [211]:
len(A)

9

In [212]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [213]:
D=sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [214]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## dictionary

In [215]:
dict1=dict()
dict1

{}

In [216]:
type(dict1)

dict

In [217]:
dict2={}
dict2

{}

In [218]:
dict3={1:'one',2:'two',3:'three',4:'four',5:'five',6:'six'}
dict3

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [219]:
dict4=dict({1:'one',2:'two',3:'three',4:'four'})
dict4

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [220]:
dict5={'A':'one','B':'two','C':'THREE'}
dict5

{'A': 'one', 'B': 'two', 'C': 'THREE'}

In [221]:
dict6={"a":'firoz',2:'yaseen',3:"ajas"}
dict6

{'a': 'firoz', 2: 'yaseen', 3: 'ajas'}

In [222]:
print(dict6.keys())
print(dict6.values())

dict_keys(['a', 2, 3])
dict_values(['firoz', 'yaseen', 'ajas'])

In [223]:
print(dict6.items())

dict_items([('a', 'firoz'), (2, 'yaseen'), (3, 'ajas')])

In [224]:
dict7={'A':'one',"B":'two','C':'three',4:['four','five','six']}
dict7

{'A': 'one', 'B': 'two', 'C': 'three', 4: ['four', 'five', 'six']}

In [225]:
dict8={'A':'one',"B":'two','C':'three',4:['four','five','six'],"D":('seven','eight')}
dict8

{'A': 'one',
 'B': 'two',
 'C': 'three',
 4: ['four', 'five', 'six'],
 'D': ('seven', 'eight')}

In [226]:
dict9={'A':'one',"B":'two','c':{'C':'three','d':'four'},4:['four','five','six'],"D":('seven','eight')}
dict9

{'A': 'one',
 'B': 'two',
 'c': {'C': 'three', 'd': 'four'},
 4: ['four', 'five', 'six'],
 'D': ('seven', 'eight')}

In [227]:
keys = {'a' , 'b' , 'c' , 'd'}

In [228]:
dict10=dict.fromkeys(keys)
dict10

{'b': None, 'd': None, 'c': None, 'a': None}

In [229]:
keys = ('a' , 'b' , 'c' , 'd')
value = 10

In [230]:
dict11=dict.fromkeys(keys,value)
dict11

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [231]:
keys={'a','b','c','d'}
value=[12,14,16]
print(dict.fromkeys(keys,value))

{'b': [12, 14, 16], 'd': [12, 14, 16], 'c': [12, 14, 16], 'a': [12, 14, 16]}

In [232]:
value.append(40)

In [233]:
a=dict.fromkeys(keys,value)
a

{'b': [12, 14, 16, 40],
 'd': [12, 14, 16, 40],
 'c': [12, 14, 16, 40],
 'a': [12, 14, 16, 40]}

In [234]:
dict12={1:'one',2:'two',3:'three',4:'four',5:'five'}
dict12

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [235]:
print(dict12[1])
print(dict12[2])
print(dict12[3])
print(dict12[4])

one
two
three
four

In [236]:
dict12.get(1)

'one'

In [237]:
dict13 = {'Name':'Firoz' , 'ID': 433 , 'DOB': 2001 , 'job' :'Analyst'}
dict13

{'Name': 'Firoz', 'ID': 433, 'DOB': 2001, 'job': 'Analyst'}

In [238]:
print(dict13['Name'])
print(dict13.get('ID'))

Firoz
433

In [239]:
dict14={'Adress':'Rajampet'}

In [240]:
dict13.update(dict14)
dict13

{'Name': 'Firoz',
 'ID': 433,
 'DOB': 2001,
 'job': 'Analyst',
 'Adress': 'Rajampet'}

In [241]:
dict13.pop('job')

'Analyst'

In [242]:
dict13

{'Name': 'Firoz', 'ID': 433, 'DOB': 2001, 'Adress': 'Rajampet'}

In [243]:
dict13.popitem()

('Adress', 'Rajampet')

In [244]:
del dict13['DOB']
dict13

{'Name': 'Firoz', 'ID': 433}

In [245]:
dict13.clear()
dict13

{}

In [246]:
del dict13

In [247]:
dict13={'name':'firoz','id':433,'dob':2001,'adress':'rajampet'}
dict13

{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet'}

In [248]:
dict15=dict13
print(dict15)

{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet'}

In [249]:
id(dict13) , id(dict15)

(2303066914432, 2303066914432)

In [250]:
dict15['job']='businessman'
print(dict15)

{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet', 'job': 'businessman'}

In [251]:
dict13

{'name': 'firoz',
 'id': 433,
 'dob': 2001,
 'adress': 'rajampet',
 'job': 'businessman'}

In [252]:
dict16={'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet'}
dict16

{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet'}

In [253]:
dict17=dict16.copy()
id(dict16),id(dict17)

(2303079006912, 2303078804992)

In [254]:
print(dict16)
print(dict17)

{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet'}
{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet'}

In [255]:
dict16['pin']=516115
dict16

{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet', 'pin': 516115}

In [256]:
print(dict17)

{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet'}

In [257]:
for j in dict17:
    print(j,":",dict17[j])

name : firoz
id : 433
dob : 2001
adress : rajampet

In [258]:
for j in dict17:
    print(dict17[j])

firoz
433
2001
rajampet

In [259]:
print('name' in dict17)
print('firoz' in dict17)
print(433 in dict17)
print('adress' in dict17)

True
False
False
True

In [260]:
all(dict17)

True

In [261]:
any(dict17)

True

In [262]:
dict17[0]='shaik'
print(dict17)

{'name': 'firoz', 'id': 433, 'dob': 2001, 'adress': 'rajampet', 0: 'shaik'}

In [263]:
all(dict17)

False

In [264]:
any(dict17)

True

In [265]:
double={i:i*2 for i in range(10)}
print(double)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [266]:
square={i:i**2 for i in range(10)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [267]:
keys = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]
a=zip(keys,value)
dict18 = {k:v for (k,v) in a}                    
dict18

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [268]:
dict19={'a':10,'b':20,'c':30,'d':40,'e':50}
dict19={i:j/10 for (i,j) in dict19.items()}
dict19

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [269]:
dict19.items()

dict_items([('a', 1.0), ('b', 2.0), ('c', 3.0), ('d', 4.0), ('e', 5.0)])

In [270]:
str1="Artificial Intelligence"
dict20={i:j for i,j in enumerate(str1)}
dict20

{0: 'A',
 1: 'r',
 2: 't',
 3: 'i',
 4: 'f',
 5: 'i',
 6: 'c',
 7: 'i',
 8: 'a',
 9: 'l',
 10: ' ',
 11: 'I',
 12: 'n',
 13: 't',
 14: 'e',
 15: 'l',
 16: 'l',
 17: 'i',
 18: 'g',
 19: 'e',
 20: 'n',
 21: 'c',
 22: 'e'}

In [271]:
str2="abcdefghijklmnopqrstuvwxyz"
dict21={i:i.upper() for i in str2}
dict21

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [272]:
str2="one two three four five six seven eight nine ten one nine eight five four two"

In [273]:
lst2=str2.split()
lst2

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'one',
 'nine',
 'eight',
 'five',
 'four',
 'two']

In [274]:
set2=set(lst2)
list2=list(set2)
list2

['two', 'three', 'eight', 'four', 'five', 'six', 'nine', 'ten', 'one', 'seven']

In [275]:
len(list2)

10

In [276]:
print(lst2)
print(list2)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'one', 'nine', 'eight', 'five', 'four', 'two']
['two', 'three', 'eight', 'four', 'five', 'six', 'nine', 'ten', 'one', 'seven']

In [277]:
print(len(lst2))
print(len(list2))

16
10

In [278]:
for i in range(len(list2)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [279]:
list2[2]==lst2[2]

False

In [280]:
print(list2)
print(lst2)

['two', 'three', 'eight', 'four', 'five', 'six', 'nine', 'ten', 'one', 'seven']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'one', 'nine', 'eight', 'five', 'four', 'two']

In [281]:
count1=[0]*len(list2)
print(count1)
mydict=dict()
print(mydict)
for i in range(len(list2)):                        
    for j in range(len(lst2)): 
        if list2[i] == lst2[j]:
            count1[i] += 1
    mydict[list2[i]] = count1[i]
print(mydict)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
{}
{'two': 2, 'three': 1, 'eight': 2, 'four': 2, 'five': 2, 'six': 1, 'nine': 2, 'ten': 1, 'one': 2, 'seven': 1}

## operators

In [282]:
a=20
b=2
x='shaik'
y='firoz'

In [283]:
c=a+b
print(c)
print('addition of a({}) and b({}) is c({})'.format(a,b,c))

22
addition of a(20) and b(2) is c(22)

In [284]:
print(x+" "+y)

shaik firoz

In [285]:
print(a+b)
print(a-b)
print(a*b)
print(a%b) #remainder 
print(a/b) #quotient in decimal
print(a//b)#quoteint in integer
print(a**b) #a to the power b

22
18
40
0
10.0
10
400

In [286]:
x = 20
y = 30
print('Is x greater than y :- ',x>y)
print('\nIs x less than y :- ',x<y)
print('\nIs x equal to y :- ',x==y)
print('\nIs x not equal to y :- ',x!=y)
print('\nIs x greater than or equal to y :- ',x>=y)
print('\nIs x less than or equal to y :- ',x<=y)

Is x greater than y :-  False

Is x less than y :-  True

Is x equal to y :-  False

Is x not equal to y :-  True

Is x greater than or equal to y :-  False

Is x less than or equal to y :-  True

In [287]:
a = 'shaik'
b = 'firoz'
c = 'king'
a == b , a ==c , a != b

(False, False, True)

In [288]:
x = True
y = False
print('Logical AND operation :- ',x and y)               # True if both values are true
print('Logical OR operation :- ',x or y)                 # True if either of the values is true
print('NOT operation :- ',not x )

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

In [289]:
x = 18                                                  # binary form 10010
y = 6                                                   # binary form 00110
print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))
print('Bitwise right shift operation - {}'.format(y>>3))
print('Bitwise left shift operation - {}'.format(y<<3))
print('Bitwise left shift operation - {}'.format(x<<1))

Bitwise AND operation - 2
Bitwise OR operation - 22
Bitwise XOR operation - 20
Bitwise NOT operation - -19
Bitwise right shift operation - 4
Bitwise left shift operation - 72
Bitwise right shift operation - 0
Bitwise left shift operation - 48
Bitwise left shift operation - 36

In [290]:
a='shaik'
b='firoz'
c='shaik'
a==b,b==c,b!=c

(False, False, True)

In [291]:
x=True
y=False
print('logical AND operation :-',x and y)
print('logical OR operation :-',x or y)
print('logical NOT operation :-',not y)

logical AND operation :- False
logical OR operation :- True
logical NOT operation :- True

In [292]:
x = 18                                                  # binary form 10010
y = 6                                                   # binary form 00110
print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))
print('Bitwise right shift operation - {}'.format(y>>3))
print('Bitwise left shift operation - {}'.format(y<<3))
print('Bitwise left shift operation - {}'.format(x<<1))

Bitwise AND operation - 2
Bitwise OR operation - 22
Bitwise XOR operation - 20
Bitwise NOT operation - -19
Bitwise right shift operation - 4
Bitwise left shift operation - 72
Bitwise right shift operation - 0
Bitwise left shift operation - 48
Bitwise left shift operation - 36

In [293]:
x=10
print('Initialize x with value 10 (x=10)) :- ',x)

Initialize x with value 10 (x=10)) :-  10

In [294]:
x+=20
print('add 20 to x after adding then x :-',x)

add 20 to x after adding then x :- 30

In [295]:
x-=10
print('subtract 10 in x',x)

subtract 10 in x 20

In [296]:
x/=10
print('divide 10 to x',x)

divide 10 to x 2.0

In [297]:
x*=10
print('multiply 10 to x',x)

multiply 10 to x 20.0

In [298]:
x=int(x)
x

20

In [299]:
x**=2
print('x power to 2 which is added to x:- ',x)

x power to 2 which is added to x:-  400

In [300]:
x%=2
print('modulo division',x)

modulo division 0

In [301]:
x = 20
x//=3
print ('Floor Division :- ',x)

Floor Division :-  6

In [302]:
x=20
x&=2
print('Bitwise AND :- ',x)

Bitwise AND :-  0

In [303]:
x=20
x|=2
print('Bitwise OR :- ',x)

Bitwise OR :-  22

In [304]:
x=20
x^=2
print('Bitwise XOR :- ',x)

Bitwise XOR :-  22

In [305]:
x = 10
x<<=2
print('Bitwise left shift operation',x)

Bitwise left shift operation 40

In [306]:
x=10
x>>=2
print('bitwise right shift operation',x)

bitwise right shift operation 2

In [307]:
str1='shaik firoz 01'
('firoz' in str1),('liger' in str1)

(True, False)

In [308]:
str2='shaik firoz king'
'firoz' not in str2 , 'yaseen' not in str2

(False, True)