## Functions

In [1]:
def myfunction():
    print('hello firoz')
myfunction()

hello firoz

In [2]:
def details(name,id,adress):
    print('name : ',name)
    print('id : ',id)
    print('adress : ',adress)
details('Firoz',433,'Rajampet')

name :  Firoz
id :  433
adress :  Rajampet

In [3]:
def square(n):
    i=n**2
    print('square of ',n,'is',i)
square(5)

square of  5 is 25

In [4]:
def even_odd(num): 
    """this function is used to check given number is odd or even"""
    if num % 2 ==0:
        print (num, ' is even number')
    else:
        print (num, ' is odd number')
even_odd(3)
even_odd(4)
print(even_odd.__doc__)

3  is odd number
4  is even number
this function is used to check given number is odd or even

In [5]:
def fullname(firstname,lastname):              
    fullname = "{} {} ".format(firstname,lastname)
    print (fullname)
fullname('shaik' , 'firoz')

shaik firoz

In [6]:
def fullname(firstname,middlename,lastname):
    fullname=('{} {} {} '.format(firstname,middlename,lastname))
    print(fullname)
fullname(firstname="shaik",lastname='firoz',middlename='king')

shaik king firoz

In [7]:
def myfunc(city='Rajampet'):
    print('my city is : ',city)
myfunc()
var=100 #variable with global scope

my city is :  Rajampet

In [8]:
def myfun():
    print(var)
myfun()
print(var)

100
100

In [9]:
def myfunct():
    var1=120
    print(var1)
myfunct()

120

In [10]:
var=99
def myfunc():
    var=100
    print(var)
myfunc()
print(var)

100
99

In [11]:
list1=[10,20,30,40,50]
def mylist(list1):
    list1.append(100)
print("list1 before calling a function ",list1)
mylist(list1)
print("list1 after calling a function ",list1)

list1 before calling a function  [10, 20, 30, 40, 50]
list1 after calling a function  [10, 20, 30, 40, 50, 100]

In [12]:
def mylist(list1):
    list1=[10,100,1000,10000]
print('before calling a function list1 is ',list1)
mylist(list1)
print('after calling a function list1 is ',list1)

before calling a function list1 is  [10, 20, 30, 40, 50, 100]
after calling a function list1 is  [10, 20, 30, 40, 50, 100]

In [13]:
a=10
b=20
def swap(a,b):
    temp=a
    a=b
    b=temp
    print('after swapping a={} b={}'.format(a,b))
print('before swapping a={} b={}'.format(a,b))
swap(a,b)

before swapping a=10 b=20
after swapping a=20 b=10

In [14]:
def factorial(num):                    # Calculate factorial of a number using recursive function c
    if num <=1 :
        return 1
    else:
        return num * factorial(num-1)
        
factorial(10)

3628800

In [15]:
def add(num):                           # Sum of first n natural numbers
    if num <= 0:
        return 0
    else:
        return num + add(num-1)
add(3)

6

In [16]:
def fibonacci(num):
    if num <= 1:
        return 0
    if num == 2:
        return 1
    else: 
        return(fibonacci(num-1) + fibonacci(num-2)) 
nums = int(input("How many fibonacci numbers you want to generate -"))
for i in range(1,nums+1):
    print(fibonacci(i))

How many fibonacci numbers you want to generate -10
0
1
1
2
3
5
8
13
21
34

In [17]:
def add(a,b,c):
    return a+b+c
 
print(add(10,20,30))

60

In [18]:
#print(add(1,2,3,4)) 
'''This will throw below error as this function will only take
If we want to make argument list dynamic then *args wil come in picture'''

'This will throw below error as this function will only take\nIf we want to make argument list dynamic then *args wil come in picture'

In [19]:
def some_args(arg_1, arg_2, arg_3):
    print("arg_1:", arg_1)
    print("arg_2:", arg_2)
    print("arg_3:", arg_3)
my_list = [2, 3]
some_args(1, *my_list)

arg_1: 1
arg_2: 2
arg_3: 3

In [20]:
def add1(*args):
    return sum(args)

print(add1(1,2,3))
print(add1(1,2,3,4))          # *args will take dynamic argument list. So add() function 
print(add1(1,2,3,4,5))
print(add1(1,2,3,4,5,6))
print(add1(1,2,3,4,5,6,7))

6
10
15
21
28

In [21]:
list1 = [1,2,3,4,5,6,7]
tuple1 = (1,2,3,4,5,6,7)
add1(*list1) , add1(*tuple1)  #tuple & list items will be passed as argument list

(28, 28)

In [22]:
list1 = [1,2,3,4,5,6,7]
list2 = [1,2,3,4,5,6,7]
list3 = [1,2,3,4,5,6,7]
list4 = [1,2,3,4,5,6,7]
add1(*list1 , *list2 , *list3 , *list4 )   #All four lists are unpacked a

112

In [23]:
def UserDetails(*args):
    print(args)
UserDetails('Firoz' ,433,'Rajampet',516115, 'Indian' , 'Telugu')
''' For the above example we have no idea about the parameters passed e.g 433 , 
 In such cases we can take help of Keyworded arguments (**kwargs) '''

('Firoz', 433, 'Rajampet', 516115, 'Indian', 'Telugu')

' For the above example we have no idea about the parameters passed e.g 433 , \n In such cases we can take help of Keyworded arguments (**kwargs) '

In [24]:
def UserDetails(**kwargs):
    print(kwargs)
UserDetails(Name='Firoz', ID=433, Pincode=516115, Age=22, Country='India', Language='Telugu')

{'Name': 'Firoz', 'ID': 433, 'Pincode': 516115, 'Age': 22, 'Country': 'India', 'Language': 'Telugu'}

In [25]:
def UserDetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :-{}".format(key,val))
UserDetails(Name='Firoz',ID=433,Pincode=516115,Age=22,Country= 'India')

Name :-Firoz
ID :-433
Pincode :-516115
Age :-22
Country :-India

In [26]:
mydict = {'Name': 'Firoz', 'ID': 433, 'Pincode': 516115, 'Age': 22, 'Country': 'India'}
UserDetails(**mydict)

Name :-Firoz
ID :-433
Pincode :-516115
Age :-22
Country :-India

In [27]:
def UserDetails(licenseNo, *args , phoneNo=0 , **kwargs):  
    print('License No :- ', licenseNo)
    j=''
    for i in args:
        j = j+i
        print('Full Name :-',j)
        print('Phone Number:- ',phoneNo)
        for key,val in kwargs.items():
            print("{} :- {}".format(key,val))
 
 
name = ['Firoz' , ' ' , 'shaik' , ' ','fir']
mydict = {'Name': 'Firoz', 'ID': 433, 'Pincode': 516115, 'Age': 22, 'Country': 'India'}
UserDetails('BHT145' , *name , phoneNo=1234567890,**mydict )

License No :-  BHT145
Full Name :- Firoz
Phone Number:-  1234567890
Name :- Firoz
ID :- 433
Pincode :- 516115
Age :- 22
Country :- India
Full Name :- Firoz
Phone Number:-  1234567890
Name :- Firoz
ID :- 433
Pincode :- 516115
Age :- 22
Country :- India
Full Name :- Firoz shaik
Phone Number:-  1234567890
Name :- Firoz
ID :- 433
Pincode :- 516115
Age :- 22
Country :- India
Full Name :- Firoz shaik
Phone Number:-  1234567890
Name :- Firoz
ID :- 433
Pincode :- 516115
Age :- 22
Country :- India
Full Name :- Firoz shaik fir
Phone Number:-  1234567890
Name :- Firoz
ID :- 433
Pincode :- 516115
Age :- 22
Country :- India

In [28]:
addition = lambda a : a + 10                   # This lambda function adds value 10 to an argument
print(addition(5))

15

In [29]:
product = lambda a, b : a * b          #This lambda function takes two arguments (a,b) 
print(product(5, 6))

30

In [30]:
addition = lambda a, b, c : a + b + c    #This lambda function takes three argument
print(addition(5, 6, 2))

13

In [31]:
res = (lambda *args: sum(args))             # This lambda function can take any number
res(10,20) , res(10,20,30,40) , res(10,20,30,40,50,60,70)

(30, 100, 280)

In [32]:
res1 = (lambda **kwargs: sum(kwargs.values()))                            
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

In [33]:
# This lambda function can take any number of arguments and return thier product.
import math
res1 = (lambda **kwargs:math.prod(kwargs.values()))                             
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(6000, 12000000)

In [34]:
def myfunc(n):
    return lambda a : a + n
add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)
print(add10(5))
print(add20(5))
print(add30(5))

15
25
35

In [35]:
list1 = [1,2,3,4,5,6,7,8,9]
def odd(n):
    if n%2 ==1:return True
    else: return False
odd_num = list(filter(odd,list1))        # This Filter function filters list1 and passes
odd_num

[1, 3, 5, 7, 9]

In [36]:
list1 = [1,2,3,4,5,6,7,8,9]
# The below Filter function filters "list1" and passes all odd numbers using lamb
even_num = list(filter(lambda n: n%2 ==0 ,list1)) 
even_num

[2, 4, 6, 8]

In [37]:
def twice(n):
    return n*2
 
doubles = list(map(twice,even_num))                
doubles

[4, 8, 12, 16]

In [38]:
doubles = list(map(lambda n:n*2,odd_num))                     
doubles

[2, 6, 10, 14, 18]

In [39]:
from functools import reduce
def add(a,b):
    return a+b

sum_all = reduce(add,doubles)               # This reduce function will perform sum of all item
sum_all

50

In [40]:
#The below reduce() function will perform sum of all items in the list using lambda
sum_all = reduce(lambda a,b : a+b,doubles)
sum_all

50

In [41]:
# Putting all together 
from functools import reduce

sum_all = reduce(lambda a, b: a + b, list(map(lambda n: n * 2, list(filter(lambda n: n % 2 == 0, [1, 2, 3, 4, 5])))))
sum_all

12

In [42]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 ==0 ,list1)) # Filter even numbers from the list
odd = list(filter(lambda n: n%2 !=0 ,list1)) # Filter odd numbers from the list
print('--------')
print(even)
print(odd)
print('--------')
list2 = ['one' , 'TWO' , 'three' , 'FOUR']
upper = list(filter(lambda x: x.isupper() , list2)) # filter uppercase strings 
lower = list(filter(lambda x: x.islower() , list2)) # filter lowercase strings 
print(upper)
print(lower)
print('--------')
list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']
numeric = list(filter(lambda x:x.isnumeric(), list3))                  # filter numbers 
alpha = list(filter(lambda x:x.isalpha(), list3))                     # filter character strings
alphanum = list(filter(lambda x:x.isalnum(), list3))                  # filtr numbers & character 
print(alpha)
print(numeric)
print(alphanum)
print('--------')

--------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
--------
['TWO', 'FOUR']
['one', 'three']
--------
['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']
--------

In [43]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
def double(x):
    return x+x
def add(x,y):
    return x+y
def square(x):
    return x*x
print('---------------')
print(list(map(double, list1))) # Double each number using map & User defined function
print(list(map(add, list1, list2))) # add two items using map & User defined function
print(list(map(square, list1))) #Square numbers using map & User defined function
print('---------------')
print(list(map(lambda x: x + x, list1))) # Double each number using map & lambda
print(list(map(lambda x, y: x + y, list1, list2))) # add two items using map & lamda
print(list(map(lambda x: x*x, list1))) #Square numbers using map & lambda
print('---------------')

---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------

In [44]:
list2 = [1,2,3,4]


min_num = reduce(lambda a, b: a if a < b else b, list2)                # Minimum number in the list

max_num = reduce(lambda a, b: a if a > b else b, list2)                # Maximum number in the list

print(min_num)
print(max_num)

1
4

In [45]:
print('------')
print(reduce(lambda a, b: bool(a and b), [0, 0, 1, 0, 0])) # Returns True if all True
print(reduce(lambda a, b: bool(a and b), [2, 3, 1, 5, 6])) # Returns True if all True
print(reduce(lambda a, b: bool(a and b), [8, 9, 1, 0, 9])) # Returns True if all True
print('------')
print(reduce(lambda a, b: bool(a or b), [0, 0, 0, 0, 0])) # Returns True if any True
print(reduce(lambda a, b: bool(a or b), [2, 3, 1, 5, 6])) # Returns True if any True
print(reduce(lambda a, b: bool(a or b), [8, 9, 1, 0, 9])) # Returns True if any True
print('------')

------
False
True
False
------
False
True
True
------

In [46]:
# Create a class with property "var1"
class myclass:
    var1 = 10

obj1 = myclass()                   # Create an object of class "myclass()"
print(obj1.var1)

10

In [47]:
# Create an employee class
class Employee:
    def __init__(self, name, empid):      # __init__() function is used to assign values
        self.name = name
        self.empid = empid
    def greet(self):                                       # Class Method
        print("Thanks for joining ABC Company {}!!".format(self.name))
        
emp1 = Employee("Firoz", 433433)                   #Create an employee object
print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Firoz
Employee ID :-  433433
Thanks for joining ABC Company Firoz!!

In [48]:
emp1.name = 'Shaik'                    # Modify Object Properties
emp1.name

'Shaik'

In [49]:
#del emp1.empid                        # Delete Object Properties
#emp1.empid

In [50]:
#del emp1 # Delete the object
#emp1

In [51]:
emp2 = Employee("Ganesh", 434434)                  # Create an employee object
print('Name :- ',emp2.name)
print('Employee ID :- ',emp2.empid)
emp2.greet()

Name :-  Ganesh
Employee ID :-  434434
Thanks for joining ABC Company Ganesh!!

In [52]:
emp2.country = 'India' #instance variable can be created manually
emp2.country

'India'

In [53]:
class person:                                    # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
 
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))
 
 
class student(person):                                 # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees
 
    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
        
class teacher(person):                                # Child Class
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary
 
    def TeacherInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))

stud1 = student('Firoz' , 22 , 'Male' , 433 , 10000)
print('Student Details')
print('---------------')
stud1.PersonInfo() # PersonInfo() method presnt in Parent Class will be access
stud1.StudentInfo()
print()
teacher1 = teacher('shaik' , 33 , 'Male' , 456 , 80000)
print('Employee Details')
print('---------------')
teacher1.PersonInfo() # PersonInfo() method presnt in Parent Class will be acc
teacher1.TeacherInfo()

Student Details
---------------
Name :- Firoz
Age :- 22
Gender :- Male
Student ID :- 433
Fees :- 10000

Employee Details
---------------
Name :- shaik
Age :- 33
Gender :- Male
Employee ID :- 456
Salary :- 80000

In [54]:
class person:        # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
 
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees
 
    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
 
 
stud1 = student('Firoz' , 22 , 'Male' , 433 , 12100)
print('Student Details')
print('---------------')
stud1.PersonInfo()                # PersonInfo() method presnt in Parent Class will be access
stud1.StudentInfo()
print()

Student Details
---------------
Name :- Firoz
Age :- 22
Gender :- Male
Student ID :- 433
Fees :- 12100

In [55]:
# super() builtin function allows us to access methods of the base class.
class person:                              # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
 
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))
 
 
class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        super().__init__(name,age,gender) 
        self.studentid = studentid
        self.fees = fees
 
    def StudentInfo(self):
        super().PersonInfo()
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))

stud = student('Firoz' , 22 , 'Male' , 433 , 12000)
print('Student Details')
print('---------------')
stud.StudentInfo()

Student Details
---------------
Name :- Firoz
Age :- 22
Gender :- Male
Student ID :- 433
Fees :- 12000

In [56]:
class person: # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
 
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))
 
 
class employee(person): # Child Class
    def __init__(self,name,age,gender,empid,salary):
        person.__init__(self,name,age,gender)
        self.empid = empid
        self.salary = salary
 
    def employeeInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))

class fulltime(employee): # Grand Child Class
    def __init__(self,name,age,gender,empid,salary,WorkExperience):
        employee.__init__(self,name,age,gender,empid,salary)
        self.WorkExperience = WorkExperience
 
    def FulltimeInfo(self):
        print('Work Experience :- {}'.format(self.WorkExperience))
class contractual(employee): # Grand Child Class
    def __init__(self,name,age,gender,empid,salary,ContractExpiry):
        employee.__init__(self,name,age,gender,empid,salary)
        self.ContractExpiry = ContractExpiry
 
    def ContractInfo(self):
        print('Contract Expiry :- {}'.format(self.ContractExpiry))

print('Contractual Employee Details')
print('****************************')
contract1 = contractual('Shaik' , 23 , 'Male' , 456 , 80000,'31-03-2023')
contract1.PersonInfo()
contract1.employeeInfo()
contract1.ContractInfo()
print('\n \n')
print('Fulltime Employee Details')
print('****************************')
fulltim1= fulltime('Firoz' , 22 , 'Male' , 433 , 70000, 0)
fulltim1.PersonInfo()
fulltim1.employeeInfo()
fulltim1.FulltimeInfo()

Contractual Employee Details
****************************
Name :- Shaik
Age :- 23
Gender :- Male
Employee ID :- 456
Salary :- 80000
Contract Expiry :- 31-03-2023



Fulltime Employee Details
****************************
Name :- Firoz
Age :- 22
Gender :- Male
Employee ID :- 433
Salary :- 70000
Work Experience :- 0

In [57]:
class person: # Parent Class
    def __init__(self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
 
    def greet(self):
        print("Hello Person")

class student(person): # Child Class
    def __init__(self,name,age,gender,studentid,fees):
        person.__init__(self,name,age,gender)
        self.studentid = studentid
        self.fees = fees
    def greet(self):
        print("Hello Student")
 
 
stud = student('firoz' , 22 , 'Male' , 433 , 23445)
stud.greet() # greet() method defined in subclass will be triggered as "stud" is 
person1 = person('shaik' , 33 , 'Male')
person1.greet() # greet()

Hello Student
Hello Person

## container

In [58]:
list1 = ['firoz' , 'shaik' , 'yaseen' , 'ajas']
'firoz' in list1 # Membership check using 'in' operator

True

In [59]:
assert 'firoz' in list1 # If the condition returns true the program does nothing 
#assert 'firoz1' in list1 # If the condition returns false, Assert will stop the program

In [60]:
mydict = {'Name':'Firoz' , 'ID': 12345 , 'DOB': 2001 , 'Address' : 'Rajampet'}
mydict

{'Name': 'Firoz', 'ID': 12345, 'DOB': 2001, 'Address': 'Rajampet'}

In [61]:
'Firoz' in mydict # Dictionary membership will always check the keys

False

In [62]:
'Name' in mydict # Dictionary membership will always check the keys

True

In [63]:
'DOB' in mydict

True

In [64]:
mystr = 'firozshaik'
'ir' in mystr # Check if substring is presen

True

In [65]:
## iterable and itterator
mylist = ['One' , 'Two' , 'Three' , 'Four']
list_iter = iter(mylist) # Create an iterator object using iter()
print(next(list_iter)) # return first element in the iterator stream
print(next(list_iter)) # return next element in the iterator stream
print(next(list_iter))
print(next(list_iter))
#print(next(list_iter))

One
Two
Three
Four

In [66]:
mylist = ['One' , 'Two' , 'Three' , 'Four']
list_iter = iter(mylist) # Create an iterator object using iter()
print(list_iter.__next__()) # return first element in the iterator stream
print(list_iter.__next__()) # return next element in the iterator stream
print(list_iter.__next__())
print(list_iter.__next__())

One
Two
Three
Four

In [67]:
mylist = ['One' , 'Two' , 'Three' , 'Four']
list_iter = iter(mylist) # Create an iterator object using iter()
for i in list_iter:
    print(i)

One
Two
Three
Four

In [68]:
# Looping Through an Iterable (list) using for loop
mylist = ['One' , 'Two' , 'Three' , 'Four']
for i in mylist:
    print(i)

One
Two
Three
Four

In [69]:
# Looping Through an Iterable (tuple) using for loop
mytuple = ('One' , 'Two' , 'Three' , 'Four')
for i in mytuple:
    print(i)

One
Two
Three
Four

In [70]:
# Looping Through an Iterable (string) using for loop
mystr = "Hello Python"
for i in mystr:
    print(i)

H
e
l
l
o

P
y
t
h
o
n

In [71]:
# This iterator produces all natural numbers from 1 to 10.
class myiter:
    def __init__(self):
        self.num = 0
 
    def __iter__(self):
        self.num = 1
        return self
 
    def __next__(self):
        if self.num <= 10:
            val = self.num
            self.num += 1
            return val
        else:
            raise StopIteration
mynum = myiter()
iter1 = iter(mynum)
for i in iter1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [72]:
# This iterator will produce fibonacci numbers
class myfibonacci:
    def __init__(self):
        self.prev = 0
        self.cur = 0
 
    def __iter__(self):
        self.prev = 0
        self.cur = 1
        return self
 
    def __next__(self):
        if self.cur <= 50:
            val = self.cur
            self.cur += self.prev
            self.prev = val
            return val
        else:
            raise StopIteration
myfibo = myfibonacci()
iter1 = iter(myfibo)
for i in iter1:
    print(i)

1
1
2
3
5
8
13
21
34

## Error and Exception Handling

In [73]:
try:
    print(x) # NameError exception will be encountered as variable x is not defined
except:
    print('Variable x is not defined')

Variable x is not defined

In [74]:
try:
    x = int(input('Enter first number :- '))
    if x > 50:
        raise ValueError(x) # If value of x is greater than 50 ValueError exception
except:
    print(sys.exc_info()[0])

Enter first number :- 22

## Built in Exceptions

In [75]:
# OverflowError - This exception is raised when the result of a numeric calculation
import sys
try: 
    import math
    print(math.exp(1000))
except OverflowError: 
    print (sys.exc_info())
else: 
    print ("Success, no error!")

(<class 'OverflowError'>, OverflowError('math range error'), <traceback object at 0x000001F00FCE3A40>)

In [76]:
# ZeroDivisionError - This exception is raised when the second operator in a division
try:
    x = int(input('Enter first number :- '))
    y = int(input('Enter first number :- '))
    print(x/y)
except ZeroDivisionError:
    print('ZeroDivisionError exception occurred')

Enter first number :- 22
Enter first number :- 2
11.0

In [77]:
# NameError - This exception is raised when a variable does not exist
try:
 print(x1)
except NameError:
 print('NameError exception occurred')

NameError exception occurred

In [78]:
# AssertionError - This exception is raised when an assert statement fails
try: 
    a = 50
    b = "Firoz"
    assert a == b
except AssertionError: 
    print ("Assertion Exception Raised.")

Assertion Exception Raised.

In [79]:
# ModuleNotFoundError - This exception is raised when an imported module does not exist
try:
    import MyModule
except ModuleNotFoundError: 
    print ("ModuleNotFoundError Exception Raised.")

ModuleNotFoundError Exception Raised.

In [80]:
# KeyError - This exception is raised when key does not exist in a dictionary
try:
    mydict = {1:'Shaik', 2:'Firoz', 3:'king'}
    print (mydict[4])
except KeyError:
    print ("KeyError Exception Raised.")

KeyError Exception Raised.

In [81]:
# IndexError - This exception is raised when an index of a sequence does not exist
try:
    mylist = [1,2,3,4,5,6]
    print (mylist[10])
except IndexError:
    print ("IndexError Exception Raised.")

IndexError Exception Raised.

In [82]:
# TypeError - This exception is raised when two different datatypes are combined
try: 
    a = 50
    b = "Firoz"
    c = a/b
except TypeError: 
    print ("TypeError Exception Raised.")

TypeError Exception Raised.

In [83]:
# AttributeError: - This exception is raised when attribute reference or assignment
try: 
    a = 10
    b = a.upper()
    print(b)
except AttributeError: 
    print ("AttributeError Exception Raised.")
try:
    x = input('Enter first number :- ')
except:
    print('ZeroDivisionError exception occurred')

AttributeError Exception Raised.
Enter first number :- 33

# Great Job